* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

p {
    color: #000;
  }

body {
  background-color: #899aea;
}

h1 {
  text-align: center;
}

.image {
  border: 3px #ffffff;
  border-radius: 5px;
}

.button {
  font-family: Arial;
  color: #000;
  background-color: #ffffff;
  border: 2px solid;
  border-radius: 5px;
}

.button:hover{
  color: #ffffff;
  background-color: #474747;
}