* {
  box-sizing: border-box;
  border: 2px #ff0000 solid;
  font-family: Arial, sans-serif;
}

p {
    color: #000;
    text-align: center;
    padding: 10px 50px;
  }

body {
  background-color: #899aea;
}

h1 {
  text-align: center;
  background-color: rgb(#A789EA);
  margin: 10px 10px;
  padding: 5px 10px;
  color:#000;
}

h2 {
  text-align: center;
  margin: 5px;
}

.image {
  border: 3px #ffffff;
  border-radius: 5px;
  display: block;
  margin: auto auto;
}

.button {
  font-family: Arial;
  color: #000;
  background-color: #ffffff;
  border: 2px solid;
  border-radius: 6px;
  margin: 5px 10px;
  padding: 5px 10px;
  width: 50px;
  height: 30px;
  text-align: center;
}

.button:hover{
  color: #ffffff;
  background-color: #2699D9;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  background-color: #26D9BF;
  border-radius: 30px;
}